<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #projectForm="ngForm" (ngSubmit)="createProject()">
    <!-- PROJECT DETAILS Section -->
    <div class="form-section">
      <h3 class="section-title">PROJECT DETAILS</h3>
      
      <!-- Hidden Company field with default value of 1 -->
      <input type="hidden" [(ngModel)]="formData.company" name="company" value="1">
      
      <ion-item lines="full">
        <ion-label position="stacked">Inspection Date</ion-label>
        <ion-input 
          type="date" 
          [(ngModel)]="formData.inspectionDate" 
          name="inspectionDate"
          required>
        </ion-input>
      </ion-item>
    </div>

    <!-- PROPERTY ADDRESS Section -->
    <div class="form-section">
      <h3 class="section-title">PROPERTY ADDRESS</h3>
      
      <ion-item lines="full">
        <ion-label position="stacked">Street Address</ion-label>
        <ion-input 
          id="address-input"
          type="text" 
          [(ngModel)]="formData.address" 
          name="address"
          placeholder="Start typing an address..."
          required>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">City</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="formData.city" 
          name="city"
          placeholder="City"
          required>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">State</ion-label>
        <ion-select 
          [(ngModel)]="formData.state" 
          name="state"
          placeholder="Select State"
          required>
          <ion-select-option value="TX">Texas</ion-select-option>
          <ion-select-option value="GA">Georgia</ion-select-option>
          <ion-select-option value="FL">Florida</ion-select-option>
          <ion-select-option value="CO">Colorado</ion-select-option>
          <ion-select-option value="CA">California</ion-select-option>
          <ion-select-option value="AZ">Arizona</ion-select-option>
          <ion-select-option value="SC">South Carolina</ion-select-option>
          <ion-select-option value="TN">Tennessee</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Zip Code</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="formData.zip" 
          name="zip"
          placeholder="Zip Code"
          pattern="[0-9]{5}"
          required>
        </ion-input>
      </ion-item>
    </div>

    <!-- Submit Button -->
    <div class="button-container">
      <ion-button 
        expand="block" 
        type="submit" 
        color="primary"
        [disabled]="!projectForm.form.valid">
        Create Project
      </ion-button>
    </div>
  </form>
</ion-content>