<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar" role="navigation" aria-label="Main navigation">
    <ion-tab-button tab="active-projects" class="tab-button" aria-label="Active Projects">
      <ion-icon name="document-text-outline" class="tab-icon" aria-hidden="true"></ion-icon>
      <ion-label class="tab-label">Active</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all-projects" class="tab-button" aria-label="Complete Projects">
      <ion-icon name="folder-outline" class="tab-icon" aria-hidden="true"></ion-icon>
      <ion-label class="tab-label">Complete</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help-guide" class="tab-button" aria-label="Help Guide">
      <ion-icon name="help-circle-outline" class="tab-icon" aria-hidden="true"></ion-icon>
      <ion-label class="tab-label">Help</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="company" class="tab-button" aria-label="Company">
      <ion-icon name="people-outline" class="tab-icon" aria-hidden="true"></ion-icon>
      <ion-label class="tab-label">Company</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>