<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="active-projects" class="tab-button">
      <ion-icon name="document-text-outline" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="all-projects" class="tab-button">
      <ion-icon name="folder-outline" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search" class="tab-button">
      <ion-icon name="search-outline" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tab-button">
      <ion-icon name="reorder-three-outline" class="tab-icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>